.horoscope{
    &__nav{
        margin-bottom: 20rem;
    }
    
    &__link{
        padding-right: 20rem;
        text-decoration: none;
        font-size: 24rem;
        color: $basecolor;
        
        &-active{
            color: $secondcolor;
        }
    }
}

.calendar{
    width:805rem;
    
    &__day{
        display: block;
        margin: 2rem;
        width: 13%;
        height: 100rem;
        padding: 10rem;
        border-radius: 10rem;
        
        text-decoration: none;
        color: $basecolor;
        
        background: #e3e3e3;
        transition: background 0.2s linear;
        
        &-green{
            background: #66af59;  
            color: white;
        }
        
        &:hover{
            background: #f2f2f2; 
        }
    }
    
    &__month{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        
        &-name{
            margin: 20rem;
        }
    }
    
    &__year-name{
        font-size: 24rem
    }
    
    &__month-picker{
        margin: 40rem auto;
        text-align: center;
        font-size: 32rem;
    }
    
    &__btn{
        cursor: pointer;
        padding: 10rem;
        background: #f2f2f2;
        border-radius: 5rem;
        font-weight: bold;
        color: $secondcolor;
    }
    
    
    
}